In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
# df = pd.read_csv("annual-enterprise-survey-2023-financial-year-provisional.csv")
df = pd.read_csv("Apple_price_to_clean.csv")
print(df)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -         NaN   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [7]:
print(df.head())

print(df.tail())

print(df.info())

print(df.isnull())

print(df.dtypes)

         Date       Open       High        Low      Close  Adj Close  \
0  2015-08-25  27.777500          -        NaN  25.934999      ERROR
1  2015-08-26  26.772499  27.472500  26.262501  27.422501  25.039267
2  2015-08-27  28.057501  28.309999  27.504999  28.230000  25.776581
3  2015-08-28  28.042500  28.327499  27.885000  28.322500  25.861042
4  2015-08-31  28.007500  28.632500  28.000000  28.190001  25.740063

      Volume
0  414406400
1  387098400
2  338464400
3      ERROR
4  224917200
            Date        Open        High         Low       Close   Adj Close  \
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

        Volume
1769  62290100
1770  70211500
1771  69026800
1772  54147100
1773  53766800
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1774 entries, 0 to 1773
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1773 non-null   object
 1   Open       1774 non-null   object
 2   High       1773 non-null   object
 3   Low        1772 non-null   float64
 4   Close      1772 non-null   object
 5   Adj Close  1774 non-null   object
 6   Volume     1773 non-null   object
dtypes: float64(1), object(6)
memory usage: 97.1+ KB
None
       Date   Open   High    Low  Close  Adj Close  Volume
0     False  False  False   True  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
1769  False  False  False  False  False      False   False
1770  False  False  False  False  False      False   False
1771  False  False  False  False  False      False   False
1772  False  False  False  False  False      False   False
1773  False  False  False  False  False      False   False

[1774 rows x 7 columns]
Date          object
Open          object
High          object
Low          float64
Close         object
Adj Close     object
Volume        object
dtype: object

In [9]:
df_cleaned = df.dropna()
print(df_cleaned)
print(df_cleaned.isnull().sum())

            Date        Open        High         Low       Close   Adj Close  \
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
6     2015-09-02   27.557501   28.084999   27.282499   28.084999   25.644186
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
1     387098400
2     338464400
3         ERROR
4     224917200
6     247555200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1767 rows x 7 columns]
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [13]:
df_fill_mean = df.fillna(df.mean(numeric_only=True))
print(df_fill_mean)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -   73.174203   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [15]:
df_fill_median = df.fillna(df.median(numeric_only=True))
print(df_fill_median)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -   49.543749   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [17]:
df_filled_value = df.fillna(0)
print(df_filled_value.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [25]:
df_filled_ffill = df.ffill()
print(df_filled_ffill)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -         NaN   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [29]:
df_filled_ffill = df.bfill()
print(df_filled_ffill)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -   26.262501   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [31]:
#3

data = pd.DataFrame({
    'score': [100, 150, 200, 250, 300]
})

scaler = MinMaxScaler()
data[['score']] = scaler.fit_transform(data[['score']])
print(data)

   score
0   0.00
1   0.25
2   0.50
3   0.75
4   1.00

In [33]:
 data = pd.DataFrame({
    'Type': ['X', 'Y', 'Z', 'X'],
    'Amount': [10, 5, 20, 15]
})

encoder = OneHotEncoder(sparse_output=False)
encoded = encoder.fit_transform(data[['Type']])

encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['Type']))

final_data = pd.concat([data.drop('Type', axis=1), encoded_df], axis=1)
print(final_data)

   Amount  Type_X  Type_Y  Type_Z
0      10     1.0     0.0     0.0
1       5     0.0     1.0     0.0
2      20     0.0     0.0     1.0
3      15     1.0     0.0     0.0

In [35]:
data = pd.DataFrame({
    'Score': [8, 18, 28, 38, 48, 58, 68, 78, 88, 98]
})

intervals = [0, 25, 50, 75, 100]
categories = ['Low', 'Medium', 'High', 'Very High']

data['Score_Group'] = pd.cut(data['Score'], bins=intervals, labels=categories)
print(data)

   Score Score_Group
0      8         Low
1     18         Low
2     28      Medium
3     38      Medium
4     48      Medium
5     58        High
6     68        High
7     78   Very High
8     88   Very High
9     98   Very High

In [39]:
#4
df = pd.DataFrame({
    'Data1':[1, 2, 3, 4],
    'Data2':[5, 6, 7, 8]
})

df['Result'] = df['Data1'] * df['Data2']
print(df)

   Data1  Data2  Result
0      1      5       5
1      2      6      12
2      3      7      21
3      4      8      32

In [41]:
df = pd.DataFrame({
    'Feature1':[1, 2, 3],
    'Feature2':[1, 2, 3]
})

poly = PolynomialFeatures(degree=2, include_bias = False)
result = poly.fit_transform(df)

print(result)

[[1. 1. 1. 1. 1.]
 [2. 2. 4. 4. 4.]
 [3. 3. 9. 9. 9.]]

In [45]:
df = pd.DataFrame({
    'Date' : ['2023-01-01', '2023-05-15', '2024-07-20']
})

df['Date'] = pd.to_datetime(df['Date'])

# extracting year, month, day
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

print(df)

        Date  Year  Month  Day
0 2023-01-01  2023      1    1
1 2023-05-15  2023      5   15
2 2024-07-20  2024      7   20

In [47]:
df = pd.DataFrame({
    'Time' : ['05:30', '13:25', '19:00', '23:30']
})

df['Time'] = pd.to_datetime(df['Time'], format='%H:%M').dt.time

def time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 18:
        return 'Afternoon'
    elif 18 <= hour < 22:
        return 'Evening'
    else:
        return 'Night'

df['Time_hour'] = df['Time'].apply(lambda x:time_of_day(x.hour))
print(df)

       Time  Time_hour
0  05:30:00    Morning
1  13:25:00  Afternoon
2  19:00:00    Evening
3  23:30:00      Night

In [59]:
#5
data = {
   'Product': ['Desktop', 'Smartwatch', 'E-reader', 'Desktop', 'Smartwatch'],
    'Price': [1200, 400, 350, 1200, 400],
    'Store': ['Newegg', 'eBay', 'Target', 'Newegg', 'eBay']
}
print(df)
print()
df = pd.DataFrame(data)
df_cleaned = df.drop_duplicates()
print(df_cleaned)

      Product  Price   Store
0     Desktop   1200  Newegg
1  Smartwatch    400    eBay
2    E-reader    350  Target
3     Desktop   1200  Newegg
4  Smartwatch    400    eBay

      Product  Price   Store
0     Desktop   1200  Newegg
1  Smartwatch    400    eBay
2    E-reader    350  Target

In [65]:
data = {
    'Item': ['Monitor', 'Air Conditioner', 'Blender', 'Dishwasher', 'Toaster'],
    'Price': [350, 750, 60, 700, 100]  
}
df = pd.DataFrame(data)
print(df)
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df_no_outliers = df[(df['Price'] >= lower_bound) & (df['Price'] <= upper_bound)]
print(df_no_outliers)

              Item  Price
0          Monitor    350
1  Air Conditioner    750
2          Blender     60
3       Dishwasher    700
4          Toaster    100
              Item  Price
0          Monitor    350
1  Air Conditioner    750
2          Blender     60
3       Dishwasher    700
4          Toaster    100

In [69]:
data = {
    'Employee': ['Nursat', 'NURSAT', 'Football', 'FOOTBALL', 'Frank'],
    'Department': ['Finance', 'finance', 'HR', 'hr', 'Support']
}
df = pd.DataFrame(data)
df['Employee'] = df['Employee'].str.lower().str.capitalize()
df['Department'] = df['Department'].str.capitalize()
print(df)

   Employee Department
0    Nursat    Finance
1    Nursat    Finance
2  Football         Hr
3  Football         Hr
4     Frank    Support

In [43]:
# 6
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

data = {
    'Experience': [2, 7, 10, 3, 5],
    'Hours_Worked': [30, 40, 50, 25, 35],
    'Promoted': [0, 1, 1, 0, 1]  # 0 = Not Promoted, 1 = Promoted
}

df = pd.DataFrame(data)

X = df.drop('Promoted', axis=1)  # 'Experience' and 'Hours_Worked'
y = df['Promoted']  # Target: 'Promoted'
print(y)

# 70-30 and 80-20 splits
X_train_70, X_test_30, y_train_70, y_test_30 = train_test_split(X, y, test_size=0.3, random_state=42)
X_train_80, X_test_20, y_train_80, y_test_20 = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()

model.fit(X_train_70, y_train_70)
predictions_70 = model.predict(X_test_30)
accuracy_70 = accuracy_score(y_test_30, predictions_70)

model.fit(X_train_80, y_train_80)
predictions_80 = model.predict(X_test_20)
accuracy_80 = accuracy_score(y_test_20, predictions_80)

print(f"Accuracy with 70-30 split: {accuracy_70:.2f}")
print(f"Accuracy with 80-20 split: {accuracy_80:.2f}")

0    0
1    1
2    1
3    0
4    1
Name: Promoted, dtype: int64
Accuracy with 70-30 split: 0.50
Accuracy with 80-20 split: 1.00

In [47]:
# 7
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [49]:
df = pd.DataFrame({
    'Experience': [1, 5, None, 10, 3],
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT'],
    'Promoted': [0, 1, 1, 0, 1]
})

In [51]:
X = df.drop('Promoted', axis=1)
y = df['Promoted']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

numerical_features = ['Experience']
categorical_features = ['Department']

numerical_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')), 
    ('scaler', StandardScaler())              
])

categorical_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')), 
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_pipeline, numerical_features),
        ('cat', categorical_pipeline, categorical_features)
    ]
)

full_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestClassifier())
])

full_pipeline.fit(X_train, y_train)

predictions = full_pipeline.predict(X_test)
report = classification_report(y_test, predictions, zero_division=1)

print(f"Classification Report:\n{report}")

Classification Report:
              precision    recall  f1-score   support

           0       0.00      1.00      0.00         0
           1       1.00      0.50      0.67         2

    accuracy                           0.50         2
   macro avg       0.50      0.75      0.33         2
weighted avg       1.00      0.50      0.67         2